<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <listeners>
        <listener class-name="com.orangehrmlive.listeners.Listeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Test Case">
        <classes>
            <class name="com.orangehrmlive.testsuite.TestCase"/>
        </classes>
    </test>
</suite>